<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/ContentAdmin/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/ContentAdmin/img/monarchy.jpeg">
    <title>
        Admin Panel
    </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    @RenderSection("Scripts", required: false)

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/ContentAdmin/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/ContentAdmin/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/ContentAdmin/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/ContentAdmin/css/soft-ui-dashboard.css?v=1.0.6" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body class="g-sidenav-show  bg-gray-100">
    @RenderBody()

    <script src="~/ContentAdmin/js/core/popper.min.js"></script>
    <script src="~/ContentAdmin/js/core/bootstrap.min.js"></script>
    <script src="~/ContentAdmin/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/ContentAdmin/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/ContentAdmin/js/plugins/chartjs.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="~/ContentAdmin/js/soft-ui-dashboard.min.js?v=1.0.6"></script>
</body>
</html>
